.code .editor {
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.code .editor .editor-area {
  height: calc(100% - 56px);
}

.monaco-editor .suggest-widget {
  z-index: 2147483647 !important; /* Maximum z-index value */
}
